@model ChangePasswordViewModel

@{
    ViewData["Title"] = SharedLocalizer["ChangePassword"];
    ViewData["Level1Section"] = SharedLocalizer["Account"];
    ViewData["Level2Section"] = SharedLocalizer["Profile"];
}

@section HeaderActions{

    <button onclick="updatePassword()" class="btn btn-outline-primary mx-2 headres-action-global">
        <i class="fas fa-check"></i> @SharedLocalizer["Update"]
    </button>
}


<form enctype="multipart/form-data" method="post" asp-action="ChangePassword" class="d-inline" id="changePassword">
    <div class="form-global-inp mx-4">
        <div class="">
            <div class="change-pass-form">
            <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label lable-create-roles" asp-for="CurrentPassword"></label>
                            <input class="form-control inp-height" asp-for="CurrentPassword" />
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label lable-create-roles" asp-for="Password"></label>
                            <input class="form-control inp-height" asp-for="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label lable-create-roles" asp-for="ConfirmPassword"></label>
                            <input class="form-control inp-height" asp-for="ConfirmPassword" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <script src="~/js/users.js"></script>
    <script>
        //$('#EmployeeTypeId,#DepartmentId,#DirectManagerId').selectpicker();

        updatePassword = function () {
            if ($("#changePassword").valid()) {
                showLoader();
                $("#changePassword").submit();
            }
        }
    </script>

}