@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_AccountLayout";
}

<div class="login-box">
    <div class="login-logo">
        <a class="show-loader" asp-controller="Home" asp-action="Index">
            <img src="~/lib/adminlte/dist/img/Logo.svg" />
        </a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">@SharedLocalizer["EnterYourEmail"]</p>

            <form method="post" id="form">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <input type="button" class="btn btn-primary btn-flat show-loader" value="@SharedLocalizer["Submit"]">
            </form>
        </div>
        <!-- /.login-card-body -->
    </div>
      <div class=" text-right">
                @await Html.PartialAsync("_SelectLanguagePartial")
      </div>
</div>