
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "_AccountLayout";
}

<div class="login-box">
    <div class="login-logo">
        <a class="show-loader" asp-controller="Home" asp-action="Index">
            <img src="~/lib/adminlte/dist/img/Logo.svg" />
        </a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="check-mail">
                @SharedLocalizer["ForgotPasswordConfirmationMessage"]
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>

