
@{
    ViewData["Title"] = "Reset Password Confirmation";
    Layout = "_AccountLayout";
}

<div class="login-box">
    <div class="login-logo">
        <a class="show-loader" asp-controller="Home" asp-action="Index">
             <img src="~/lib/adminlte/dist/img/Logo.svg" />
        </a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="forget-pass check-mail">
                @SharedLocalizer["ResetPasswordConfirmationMessage"]. @SharedLocalizer["Please"] <br ></br> <a asp-action="Login">@SharedLocalizer["ClickToLogin"]</a>.
            </p>
        </div>
        <!-- login-card-body -->
    </div>
</div>
