@model CustomerNegotiationViewModel

@{
    var companyData = ViewBag.CompanyData as CompanyDataViewModel;
}
<form id="NegotiationCustomerEdit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="QuotationId" id="quotationIdEditCustomer" />
    @*<input type="hidden" asp-for="IsCustomer" />*@
    <input type="hidden" asp-for="AttachmentId" />
    <input type="hidden" asp-for="CreatedById" />
    <input type="hidden" asp-for="Id" />

    <div class="row">
        <div asp-validation-summary="All" class="text-danger col-md-12"></div>

        <div class="col-sm-12 col-md-6">
            <div class="item">
                <div class="form-group">
                    <label asp-for="CreatedDate" class="control-label"></label>
                    <input type="date" asp-for="CreatedDate" class="form-control">

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="item">
                <div class="form-group">
                    <label asp-for="DueDate" class="control-label">@SharedLocalizer["DueDate"]</label>
                    <input asp-for="DueDate" type="date" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="item">
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["ChooseSpeaker"]</label>
                    <div class="modal-attach-message">
                        <select class="inp-height" asp-for="IsCustomer">
                            <option value="false">@(SharedLocalizer.IsRightToLeft() ? companyData.NameAr : companyData.Name)</option>
                            <option value="true">@SharedLocalizer["Customer"]</option>
                        </select>
                        <input asp-for="Message" class="form-control inp-height">
                        <label class="attach-file-message" asp-for="ConversationFile" for="customerEditNegotiationFile">
                            <i class="fas fa-paperclip"></i>
                            <input type="file" class="d-none" asp-for="ConversationFile" id="customerEditNegotiationFile" />
                        </label>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>