
@model QuotationViewModel

<div class="col-12 col-lg-6" id="performanceLGBlock">
    @await Html.PartialAsync("_PerformanceLGPartial")
</div>

<div class="col-12 col-lg-6" id="finalLGBlock">
    @await Html.PartialAsync("_FinalLGPartial")
</div>