
@model CountryViewModel

@{
    ViewData["Title"] = SharedLocalizer["Create"].Value + " " + SharedLocalizer["Country"].Value;
    ViewData["Level1Section"] = SharedLocalizer["Lookups"];
    ViewData["Level2Section"] = SharedLocalizer["Countries"];
    ViewData["Level2Url"] = Url.Action("Index");
    ViewData["Level3Section"] = SharedLocalizer["Create"].Value + " " + SharedLocalizer["Country"].Value;
}

@section HeaderActions{
    <button class="btn btn-outline-primary mx-2 headres-action-global" value="Add" onclick="saveForm()">
        <i class="fas fa-check"></i> @SharedLocalizer["Add"]
    </button>

    <a asp-action="Index" class="btn btn-outline-danger mx-2 show-loader headres-action-global">
        <i class="fas fa-times"></i> @SharedLocalizer["Cancel"]
    </a>
}

<form enctype="multipart/form-data" method="post" asp-action="Create" class="d-inline" id="countriesForm">
    <div class="form-global-inp mx-4">
        <div class="">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="form-group">
                        <label class="control-label" asp-for="Name"></label>
                        <input class="form-control inp-height" asp-for="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="form-group">
                        <label class="control-label" asp-for="NameAr"></label>
                        <input class="form-control inp-height" asp-for="NameAr" />
                        <span asp-validation-for="NameAr" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="form-group">
                        <label class="control-label" asp-for="PhoneCode"></label>
                        <input class="form-control inp-height" asp-for="PhoneCode" />
                        <span asp-validation-for="PhoneCode" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="form-group">
                        <label class="control-label" asp-for="Code2"></label>
                        <input class="form-control inp-height" asp-for="Code2" />
                        <span asp-validation-for="Code2" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="form-group">
                        <label class="control-label" asp-for="Code3"></label>
                        <input class="form-control inp-height" asp-for="Code3" />
                        <span asp-validation-for="Code3" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/js/countries.js"></script>
}