
<div class="modal fade" id="selectLocationModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="customer-map" id="map"></div>
            <div class="position-absolute" style="bottom:30px;left:45%;z-index:99999999">
                <button type="button" id="btn_Select" class="btn btn-primary">@SharedLocalizer["SelectLocation"]</button>
            </div>
            <input type="hidden" id="selected_lat">
            <input type="hidden" id="selected_lng">
            <input type="hidden" id="selected_address">
        </div>
    </div>
</div>