
<div class="modal fade modal-edit-task" id="detailsVisit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@SharedLocalizer["TaskDetails"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="visitDetails">

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <div class="action action-modal">
                    <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                        @SharedLocalizer["Done"]
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>