<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Email Confirmation - Speed Spot</title>
</head>

<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" valign="top" bgcolor="#ffe77b" style="background-color:ghostwhite;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="left" valign="top" bgcolor="#564319" style="background-color: #564319; font-family: sans-serif; padding: 10px;">
                            <div style="font-size:36px; color:#ffffff;">
                                <b>{0}</b>
                            </div>
                            <div style="font-size:13px; color:#a29881;">
                                <b>Speed</b> Spot
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top" bgcolor="#ffffff" style="background-color:#ffffff;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" valign="middle" style="padding: 10px; color: #564319; font-size: 28px; font-family: sans-serif;">
                                        Please confirm your email.
                                    </td>
                                </tr>
                            </table>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="left" valign="middle" style="color: #525252; font-family: sans-serif;">
                                        <div style="font-size:16px;">
                                            Dear {1},
                                        </div>
                                        <div style="font-size:12px;">
                                            Your email address has been changed.
                                            All you need to do is to click the button below (it only takes a few seconds).
                                            You won’t be asked to log in to your account – we're simply verifying ownership of this email address.
                                            <hr>
                                            <center>
                                                {2}
                                            </center>
                                            <hr>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>   