
@model List<ProductCategory>

<select class="form-control inp-height" id="ParentId" name="ParentId">
    <option value="" selected>@SharedLocalizer["Select"]</option>
    @foreach (var category in Model)
    {
        <option value="@category.Id">@(SharedLocalizer.IsRightToLeft() ? category.NameAr : category.Name)</option>
    }
</select>