@model List<TechnicalSpecificationAttachmentViewModel>

@if (Model != null && Model.Count > 0)
{
    @foreach (var attachment in Model)
    {
        <div class="row mb-2">
           
                <div class="custom-label-upload">
                    <label class="" for="BidBondFile">
                        <span class="upload-file-icons">
                            <i class="fas fa-file-upload"></i>
                        </span>
                    </label>
                    <a class="one-line" href="/images/Opportunities/@attachment.AttachmentPath" target="_blank">@attachment.Title</a>
                </div>
        </div>
    }
}