
<div class="modal fade" id="tsProductDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="productDetailsModal">
            @await Html.PartialAsync("_TechnicalSpecificationProductDetails", new TechnicalSpecificationProductViewModel())
        </div>
    </div>
</div>